<div class="profile-container">
    <div class="profile-container__center">
        <div class="profile-container__photo">
            <img src="../../images/default_user_icon.png" class="profile-container__photo__img1">
        </div>
        <p class="profile-container__p1">{{name}}</p>
        <p class="profile-container__p2">{{city}}</p>
        <hr class="profile-container__hr">
    </div>

    <div class="profile-container__div">
        <div class="profile-container__p">Рейтинг:</div>
        <div class="profile-container__info">
            <span class="profile-container__score-container">
                <img class="profile-container__img2" src="../../images/star.png" alt="star">
                <span class="profile-container__score">{{score}}</span>
            </span>
        </div>
    </div>
    <div class="profile-container__div">
        <div class="profile-container__p">Пол:</div>
        <p class="profile-container__info">{{sex}}</p>
    </div>
    <div class="profile-container__div">
        <div class="profile-container__p">Возраст:</div>
        <p class="profile-container__info">{{age}}</p>
    </div>
    <div class="profile-container__div">
        <div class="profile-container__p">Хост:</div>
        <p class="profile-container__info">{{#if isHost}}Да{{else}}Нет{{/if}}</p>
    </div>
    <div class="profile-container__div">
        <div class="profile-container__p">Адрес:</div>
        <p class="profile-container__info">{{address}}</p>
    </div>
    <div class="profile-container__div">
        <div class="profile-container__p">Серферы:</div>
        <p class="profile-container__info">{{guestCount}}</p>
    </div>

    <div class="profile-container__edit-container">
        <div class="profile-container__center">
            <button class="profile-container__edit-button">Изменить</button>
        </div>
    </div>
</div>